<div class="row">
  <div class="col-xs-12">
    <h1><%= @gathering.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Invited Users</h2>
    <ul>
      <%= for user <- @users do %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Votables Listing</h2>
    <ul>
      <%= for votable <- @votables do %>
        <li><%= votable.name %>, <%= votable.description %></li>
      <% end %>
    </ul>
  </div>
</div>